.ymaps-2-1-79-balloon, .ymaps-2-1-79-balloon__layout{
  border-radius: 10px;
}

.custom-balloon{
  width: 300px;

  .header{
    color: #09428E;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    margin-bottom: 8px;
  }
  .body{
    display: flex;
    flex-direction: column;
    small{
      font-size: 14px;
      color: #9196A7;
      margin-bottom: 6px;
      font-weight: 500;
    }
  }
  .btn{
    margin-top: 15px;
    width: calc(100% - 4px);
    border: 1px solid #09428E;
    color: #09428E;
    border-radius: 10px;
    text-align: center;
    padding: 12px 0;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
  }
}